<table id="auctions" class="tablesorter">
  <thead>
  <tr>
    <th>Seller</th>
    <th>Quantity</th>
    <th>Total Buyout</th>
    <th>Buyout Per</th>
    <th>First Seen</th>
    <th>Last Seen</th>
  </tr>
  </thead>
  <tbody>
  <% for auction in auctions -%>
  <% style = (auction.last_seen_scan_id == Scan.latest_scan_id) ? 'background-color: #FFF;' : '' %>
  <tr title="Auction ID: <%= auction.auction_id %>">
    <td style="<%= style %>"><%= link_to auction.player.name, player_url(auction.player) %></td>
    <td style="<%= style %>"><%= auction.quantity %></td>
    <td style="<%= style %>">
      <!-- <%= auction.buyout %> -->
      <%= number_to_wow_currency auction.buyout %>
    </td>
    <td style="<%= style %>">
      <!-- <%= auction.per_unit_buyout %> -->
      <%= number_to_wow_currency auction.per_unit_buyout %>
    </td>
    <td style="<%= style %>">
      <!-- <%= auction.first_seen_scan.started_at.to_i %> -->
      <%= time_from_now auction.first_seen_scan.started_at %>
    </td>
    <td style="<%= style %>">
      <!-- <%= auction.last_seen_scan.started_at.to_i %> -->
      <%= time_from_now auction.last_seen_scan.started_at %>
    </td>
  </tr>
  <% end -%>
  </tbody>
</table>
<script type="text/javascript">
var inner_html = function(node){ return node.innerHTML; };
$.tablesorter.addParser({
  id: 'wow_currency',
  is: function(s) { return false; },
  format: function(s) {
    var ar = s.split(' ');
    var power = 0;
    var sum = 0;
    $.each(ar.reverse(), function(index, value){
      sum += (parseInt(value) * (Math.pow(100, power)));
      power += 1;
    });
    return sum;
  },
  type: 'numeric'
});
$.tablesorter.addParser({
  id: 'comment_number',
  is: function(s) { return false; },
  format: function(s) {
    return s.match(/\d+/);
  },
  type: 'numeric'
});
$(document).ready(function() {
  $("#auctions").tablesorter({
    textExtraction: inner_html,
    headers: {
      2: {sorter:'comment_number'},
      3: {sorter:'comment_number'},
      4: {sorter:'comment_date'},
      5: {sorter:'comment_date'}
    }
  });
});
</script>
