<%= large_icon(@item) %>
<%= wowhead_item_link(@item) %><br />
<br />
Volume: <%= @item.auction_volume %><br />
<table cellpadding="5" class="tablesorter" style="width: 70%">
  <thead>
  <tr style="text-align: center;">
    <th></th>
    <th>Lowest</th>
    <th>Median</th>
    <th>Mean</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><b>Current</b></td>
    <td><%= number_to_wow_currency @item.current_lowest_buyout %></td>
    <td><%= number_to_wow_currency @item.current_median_buyout %></td>
    <td><%= number_to_wow_currency @item.current_mean_buyout %></td>
  </tr>
  <tr>
    <td><b>Overall</b></td>
    <td><%= number_to_wow_currency @item.overall_lowest_buyout %></td>
    <td><%= number_to_wow_currency @item.overall_median_buyout %></td>
    <td><%= number_to_wow_currency @item.overall_mean_buyout %></td>
  </tr>
  </tbody>
</table>
<br />
<h2>Auctions</h2>
<%= render :partial => 'auctions/short', :locals => {:auctions => @item.auctions, :latest_scan_id => @latest_scan.id} %>
