<!DOCTYPE html>
<html>
<head>
  <title>Ah</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
  <%= javascript_include_tag 'jquery.tablesorter.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header"></div>
    <div id="search">
      <%= render :partial => 'items/search' %>
    </div>
    <div id="content">
      <h2>Auction House</h2>
      <br />
      <%= yield %>
    </div>
  </div>
</body>
</html>
